#view-article {
    display: flex;
    justify-content:center;
}
.article-container {
    width: 90%;
}
.article-title {
    text-align: center;
}
.article-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article-image {
    width: 50%;
    margin: 1rem;
}
.article-text {
    width: 100%;
}